@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600italic,900);
body{
	font: 14px/1.5 'Roboto', 'Raleway', sans-serif;
	color: #303030;
	background-color: #EEE;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
}
/* header section */
.ba-header {
	margin-top: 48px;
	margin-bottom: 85px;
}
.ba-header .ba-container {
	padding: 0;
}
.ba-logo__title {
	margin: 0;
	font-size: 48px;
	font-weight: 900;
}
.ba-menu {
	margin-top: 16px;
	padding: 0;
	list-style: none;
}
.ba-menu li {
	float: left;
	margin-right: 10px;
}
.ba-menu a {
	display: block;
	padding: 12px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #303030;
}
.ba-menu a:hover {
	background-color: #D5261D;
	color: #EEE;
}
.ba-teaser {
	background: radial-gradient(ellipse at center, #feffff 0%, #EEEEEE 70%);
}
.ba-teaser__text {
	width: 620px;
	text-align: right;
	padding-right: 13px;
}
.ba-teaser__title{
	margin: 0;
	font-family: 'Raleway';
	font-size: 150px;
	line-height: 1;
	text-transform: uppercase;
	word-wrap: break-word;
}
.ba-teaser__text p {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 300;
}
.ba-teaser__button {
	text-decoration: none;
	color:  #e10011;
	font-size: 24px;
	font-weight: 700;
}
.ba-teaser__button:hover {
	text-decoration: underline;
}
.ba-teaser__image {
	margin-left: 80px;
}
/* main section */
.ba-featured {
	padding-top: 90px;
	padding-bottom: 70px;
	margin-top: 190px;
	margin-bottom: 83px;
	border-radius: 5px;
	background-color: #FFF;
}
.ba-featured-layout {
	width: 1050px;
	margin: 0 auto;
}
.ba-featured__title {
	margin: 0;
	font-family: 'Raleway';
	font-size: 48px;
	font-weight: 900;
}
.ba-featured__text, .ba-footer__text {
	width: 550px;
	margin: 0 auto;
	padding-bottom: 70px;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 400;
}
.ba-grid + .ba-grid {
	margin-top: 40px;
}
.ba-grid > [class*="ba-width-"] {
	float: left;
	padding-left: 35px;
}

.ba-grid {
	margin-left: -35px;
}
/* hover effect */
.ba-featured-img {
	width: 325px;
	height: 380px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}
.ba-featured-img-big {
	width: 693px;
	height: 385px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}
.ba-mask {
	width: 325px;
	height: 380px;
	position: absolute;
	left: -1px;
	top: 0;
	background-color: #DF0011;
	overflow: hidden;
	transform: translateX(-325px);
	opacity: 1;
	transition: all 0.4s ease-in-out;
	border-radius: 5px;
}
.ba-mask-big {
	width: 693px;
	height: 385px;
	position: absolute;
	left: -1px;
	top: 0;
	background-color: #DF0011;
	overflow: hidden;
	transform: translateX(-693px);
	opacity: 1;
	transition: all 0.4s ease-in-out;
	border-radius: 5px;
}
.ba-featured-img h3,
.ba-featured-img-big h3 {
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: 900;
	text-align: left;
	color: #FFF;
	margin: 0;
	padding-top: 250px;
	margin-left: 20px;
}
.ba-featured-img-big h3 {
	padding-top: 300px;
}
.ba-featured-img:hover .ba-mask {
	transform: translateX(0px);
}
.ba-featured-img-big:hover .ba-mask-big {
	transform: translateX(0px);
}
.ba-featured-img-line {
	width: 90px;
	height: 5px;
	margin-left: 20px;
	background-color: #FFF;
}
/* footer */
.ba-footer__title h3{
	margin-bottom: 0;
	font-family: 'Raleway';
	font-size: 48px;
	font-weight: 900;
	text-align: center;
}
.ba-footer__text {
	padding-bottom: 40px;
}
/* subscribe field */
.ba-footer-form {
	width: 700px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 110px;
}
.ba-sub-field {
	width: 495px;
	padding: 22px;
	border: none;
	border: 2px solid #fff;
	border-radius: 50px 0 0 50px;
	padding-left: 55px;
	background-color: #FFF;
}
.ba-search-button {
	width: 200px;
	height: 68px;
	background-color: #e10011;
	border: none;
	border: 2px solid #e10011;
	border-radius: 0 50px 50px 0;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}
.ba-sub-field[placeholder] {
	font-family: 'Raleway';
	color:  #979797;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
}
.ba-mail-footer-icon {
	width: 20px;
	height: 15px;
	position: absolute;
	top: 27px;
	left: 25px;
}
.ba-sub-field:focus {
	border: 2px solid #e10011;
	border-radius: 50px 0 0 50px;
	color: #e10011;
	outline: none;
}
.ba-search-button:focus {
	outline: none;
}
/* social */
.ba-social {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.ba-social a {
	margin-left: 20px;
	text-decoration: none;
}
/* copyright */
.ba-footer__copyright {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	color:  #979797;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 400;
}
.ba-footer__copyright span {
	color:  #303030;
}
