@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600italic,900);
body{
	font: 14px/1.5 'Roboto', 'Raleway', sans-serif;
	color: #303030;
	background-color: #EEE;
}

/* Typography */
a {
	text-decoration: none;
	color: #303030;
}
a:visited {
	color: darkgrey;
}
a:hover {
	color: #E10011;
}
a:active {
	text-decoration: underline;
}
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	max-width: 1230px;
	padding-left: 17px;
	padding-right: 17px;
}
/* header section */
.ba-intro {
	padding: 44px 0 185px;
}
.ba-header {
	margin-bottom: 159px;
}
.ba-header .ba-container {
	padding: 0;
}
a.ba-logo{
	margin: 0;
	font-size: 48px;
	font-weight: 900;
	color: #303030;
}
a.ba-logo:hover {
	color: #E10011;
}
a.ba-logo:active {
	text-decoration: none;
}
.ba-menu {
	list-style: none;
	margin: 0;
}
.ba-menu li {
	float: left;
	padding: 26px 32px 26px 24px;
}
.ba-menu a {
	font-size: 18px;
	font-weight: 400;
	color: #303030;
}
.ba-menu a:hover {
	color: #D5261D;
}
.ba-teaser {
	background: radial-gradient(ellipse at center, #feffff 0%, #EEEEEE 70%);
}
.ba-teaser__text {
	width: 51%;
	text-align: right;
	font-size: 24px;
	font-weight: 300;
}
.ba-teaser__title{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 150px;
	line-height: 1;
	text-transform: uppercase;
	word-wrap: break-word;
}
@media (max-width: 960px) {
	.ba-teaser__title {
		font-size: 110px;
	}
}
.ba-teaser__text p {
	margin-bottom: 14px;
}
a.ba-teaser__button {
	text-decoration: none;
	color:  #e10011;
	font-size: 24px;
	font-weight: 700;
	margin-right: 5px;
}
.ba-teaser__button:hover {
	text-decoration: underline;
}
.ba-teaser__image {
	width: 49%;
	padding-left: 94px;
}
/* main section */
.ba-featured {
	padding: 96px 72px 70px;
	border-radius: 5px;
	background-color: #FFF;
}
.ba-featured__title {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 900;
	padding-bottom: 18px;
	margin-bottom: 5px;
	background: url(../img/underline.png) no-repeat 50% 100%;
}
.ba-featured__text, .ba-footer__text {
	max-width: 550px;
	margin: 0 auto;
	padding-bottom: 70px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.ba-grid + .ba-grid {
	margin-top: 37px;
}
.ba-grid > [class*="ba-width-"] {
    float: left;
    padding-left: 35px;
}

.ba-grid {
    margin-left: -35px;
}
/* hover effect */
.ba-featured-img {
	position: relative;
	overflow: hidden;
}
.ba-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #DF0011;
	overflow: hidden;
	transform: translateX(-101%);
	opacity: 1;
	transition: all 0.4s ease-in-out;
	border-radius: 5px;
}
.ba-featured-img img {
	display: block;
}
.ba-featured-img h3 {
	position: absolute;
	bottom: 42px;
	left: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
	color: #FFF;
	margin: 0;
	padding-bottom: 20px;
}
@media (max-width: 769px) {
	.ba-teaser__title {
		font-size: 88px;
	}
	.ba-featured-img h3 {
	bottom: 25px;
	left: 20px;
	font-size: 20px;
	padding-bottom: 15px;
	}
}
@media (max-width: 480px) {
	.ba-menu {
		display: none;
	}
	.ba-intro {
    padding: 44px 0 30px;
	}
	.ba-teaser__text, .ba-teaser__image {
		width: 100%;
	}
	.ba-teaser__title {
		font-size: 70px;
	}
	.ba-teaser__text {
		text-align: center;
		margin-bottom: 20px;
	}
	.ba-teaser__image {
		padding-left: 0;
	}
	.ba-header {
    margin-bottom: 125px;
	}
	.ba-featured {
		padding: 20px 0 0 0;
	}
	.ba-grid + .ba-grid {
    margin-top: 0;
	}
	.ba-featured__text {
		padding-bottom: 33px;
	}
}
.ba-featured-img h3:after {
	content: '';
	position: absolute;
	width: 90px;
	height: 5px;
	left: 0;
	bottom: 0;
	background-color: #FFF;
}
.ba-featured-img:hover .ba-mask {
	transform: translateX(0px);
}
/* footer */
.ba-footer {
	padding: 76px 0 0;
}
.ba-footer__title{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 900;
	text-align: center;
}
.ba-footer__text {
	padding-bottom: 38px;
}
/* subscribe field */
.ba-footer-form {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 110px;
}
.ba-sub-field {
	width: 70%;
	padding: 20px;
	border: none;
	border: 2px solid #fff;
	border-radius: 50px 0 0 50px;
	padding-left: 55px;
	background: #FFF url(../img/mail.png) no-repeat 5% 50%;
}
.ba-search-button {
	line-height: 60px;
	background-color: #e10011;
	border: 2px solid #e10011;
	border-radius: 0 50px 50px 0;
	padding: 0 40px;
	font-family: Roboto, sans-serif;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}
.ba-sub-field[placeholder] {
	font-family: 'Raleway', sans-serif;
	color:  #979797;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
}
.ba-mail-footer-icon {
	width: 20px;
	height: 15px;
	position: absolute;
	top: 27px;
	left: 25px;
}
.ba-sub-field:focus {
	border: 2px solid #e10011;
	border-radius: 50px 0 0 50px;
	color: #e10011;
	outline: none;
}
.ba-search-button:focus {
	outline: none;
}
/* social */
.ba-social {
	margin-bottom: 54px;
}
.ba-social a {
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-left: 20px;
	text-decoration: none;
	border-radius: 50%;
	background-color: #FFF;
}
.ba-social a:hover {
	background-color: #e10011;;
}
.ba-link-facebook {
	background: url(../img/facebook.png) no-repeat 50% 50%;
}
.ba-link-twitter {
	background: url(../img/twitter.png) no-repeat 50% 50%;
}
.ba-link-youtube {
	background: url(../img/youtube.png) no-repeat 50% 50%;
}
/* copyright */
.ba-footer__copyright {
	margin-bottom: 30px;
	color:  #979797;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.ba-footer__company {
	color:  #303030;
}
@media (max-width: 480px) {
	.ba-footer__title {
		font-size: 40px;
	}
	.ba-sub-field {
		width: 100%;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	 .ba-search-button {
	 	width: 40%;
	 	line-height: 25px;
		border-radius: 50px;
		padding: 0 5px;
		font-size: 14px;
	 }
	 .ba-footer-form {
	 	margin-bottom: 50px;
	 }
	 .ba-sub-field:focus {
	 	border-radius: 10px;
	 }
	 .ba-social a {
	 	width: 50px;
	 	height: 50px;
	 }
}
